// xl: 0,
// sm: 0,
// md: 0,
// lg: 0,
// xs: 0

.canvas {
	// background-image: url(https://img.vixdata.io/pd/webp-large/es/sites/default/files/g/galaxia-nebulosas-astronomia-imagen-shutterstock.jpg);
	// background-size: cover;
	// background-position: center;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1268px;
	padding: 0 1rem 0 1rem;
	height: 480px;

	video {
		margin-right: 1rem;
		width: 610px;
		background-color: black;
	}
	canvas {
		width: 610px;
		background-color: black;
	}
}
