.canvas {
  background-image: url(https://img.vixdata.io/pd/webp-large/es/sites/default/files/g/galaxia-nebulosas-astronomia-imagen-shutterstock.jpg);
  background-size: cover;
  background-position: center;
}