.join {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100vh;
	align-items: center;
	background-color: #1a1a1d;

	&__form {
		width: 20%;
	}

	&__header {
		color: white;
		font-size: 2.5em;
		padding-bottom: 10px;
		border-bottom: 2px solid white;
	}
	&__name,
	&__room {
		border-radius: 0;
		padding: 15px 20px;
		width: 100%;
		margin-bottom: 0.5rem
	}

	&__submit {
		color: #fff !important;
		text-transform: uppercase;
		text-decoration: none;
		background: #2979ff;
		padding: 20px;
		border-radius: 5px;
		display: inline-block;
		border: none;
		width: 100%;
		margin-top: 20px;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.join {
		height: 100%;
		&__form {
			width: 90%;
		}
	}
}

button:focus {
	outline: 0;
}
