// @xl: ;
// @sm: ;
// @md: ;
// @lg: ;
// @xs: ;

.chroma-key {
	width: 1268px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1rem solid green;

	// &__configs {
	// }

	// &__canvas {
	// }
}
